/********************************************************
  
        CONTENTS LIST
  
*********************************************************

  01.00 Module Goggle

*********************************************************/

body.page-id-473 {
  background: #d3d3d3;
  color: #B4B4B4;

  .et_pb_section {
    background: transparent;
    padding-bottom: 0;
  }

  .title_section_wrap {
    padding: calc(150px - 2%) 0;

    .title_section {
      margin: 0 !important;
    }
  }

  .et_pb_row {
    background: #373b45;
  }

  .gradient-bar {
    display: inline-block;
    width: 3px;
    height: 378px;
    background: linear-gradient(#e89a6d, #a69c94, #fff);
    margin: 60px 0;
  }

  .overflow_hidden_wrap {
    overflow: hidden;

    .content_divider {
      color: inherit;
      padding-left: 5%;
      font-size: 18px;
      display: inline-block;
      border-top: 1px solid #4e5361;

      .divider {
        border-top: 3px solid #4e5361;
        margin-bottom: 4px;
      }
    }
  }

  .et_pb_row_11 {
    background-blend-mode: multiply;
    background-image: url(https://s3-ap-northeast-2.amazonaws.com/pagei/20190727173805/transbg.png);
    background-repeat: no-repeat;
    background-color: #373b45;
  }

  .img_wrap {
    padding-bottom: 0;
    margin-bottom: 10%;

    .et_pb_image {
      margin-bottom: 0;
    }
  }
}