// Fullpage
.fp-section.fp-table, .fp-slide.fp-table{
	display: flex;
	align-items: center;
	justify-content: center;
}
.fp-tableCell{
	max-width: 1080px;
	display: flex;
	align-items: center;
	justify-content: center;

	@include respond-to('large'){
		width: 90%;
	}
}

body .et_pb_section{
	padding-top: 0;
}
// footer
body #footer-widgets{
	padding: 20px 0;
}
.et_pb_gutters3.et_pb_footer_columns4 .footer-widget{
	margin-bottom: 0;
}
// footer bottom
#footer-bottom{ display: none !important; }
