/********************************************************

        CONTENTS LIST

*********************************************************/

body.page-id-175 {
  $point : #E2865D;
  .point {
    color: $point;
  }
  .point-divider{
    height: 3px;
  }
  .et_pb_section {
    background: #EAEAEA;
  }
  .upsize p{
    font-size: 1.1em;
  }
}