/********************************************************
  
        CONTENTS LIST
  
*********************************************************

  01.00 Module Goggle

*********************************************************/

body.page-id-473 {
  background-color: #e3e6e9 ;
}
.template.moduleGoggle {
  .pointTextColor{color: $cc1}
  .divider {
    width: 15px;
    height: 1px;
    border-radius: 999px;
    margin: 0;
  }
  .divider-00 {
    background-color: #8d9299;
  }
  img {width: 100%;}
}

// --- Let's Coding! ---
.template.moduleGoggle {
  color: #8d9299;

  // Atoms
  $headingColor : #454b56;
  .heading1 {font-size: 48px;}
  .heading2 {
    font-size: 30px;
    letter-spacing: .2em;
  }
  div[class*='heading'] {
    color: $headingColor;
  }
  // mo
  .projectInfo {
    color: $headingColor;

    span {
      display: inline-block;
    }
    // Atom
    .title {
      letter-spacing: .1em;
      line-height: 1;
    }
    // Atom
    .type {
      font-weight: 100;
      letter-spacing: .05em;
      color: #8d9299;
    }
    // Atom
    .describe {
      font-size: 24px;
      letter-spacing: .05em;
      position: relative;
      display: inline-block;
      .type {
        position: absolute;
        right: 0;
        bottom: calc(100% + 1.5rem);
        font-size: 14px;
      }
    }
  }

  // mol content
  .projectContent {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7em;

    span {
      display: inline;
      @include respond-to('lg') {
        display: block;
      }
    }
    .title {
      font-size: 1.2em;
      color: $headingColor;
      &.main {
        font-size: 1.7em;
      }
      span {
        display: inline;
      }
    }
    .smail {
      font-size: .9em;
    }
  }

  // mol
}