body {
  background: #38404C;
}

.template.moduleGoggle {
  background: #e3e6e9;
}

.template.moduleGoggle .pointTextColor {
  color: #ed6b22;
}

.template.moduleGoggle .divider {
  width: 15px;
  height: 1px;
  border-radius: 999px;
  margin: 0;
}

.template.moduleGoggle .divider-00 {
  background-color: #8d9299;
}

.template.moduleGoggle img {
  width: 100%;
}

.template.moduleGoggle {
  color: #8d9299;
}

.template.moduleGoggle .heading1 {
  font-size: 48px;
}

.template.moduleGoggle .heading2 {
  font-size: 30px;
  letter-spacing: .2em;
}

.template.moduleGoggle div[class*='heading'] {
  color: #454b56;
}

.template.moduleGoggle .projectInfo {
  color: #454b56;
}

.template.moduleGoggle .projectInfo .title {
  letter-spacing: .1em;
  line-height: 1;
}

.template.moduleGoggle .projectInfo .type {
  font-weight: 100;
  letter-spacing: .05em;
  color: #8d9299;
}

.template.moduleGoggle .projectInfo .describe {
  font-size: 24px;
  letter-spacing: .05em;
  position: relative;
  display: inline-block;
}

.template.moduleGoggle .projectInfo .describe .type {
  position: absolute;
  right: 0;
  bottom: calc(100% + 1.5rem);
  font-size: 14px;
}

.template.moduleGoggle .projectContent {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7em;
}

.template.moduleGoggle .projectContent span {
  display: inline;
}

@media (min-width: 768px) {
  .template.moduleGoggle .projectContent span {
    display: block;
  }
}

.template.moduleGoggle .projectContent .title {
  font-size: 1.2em;
  color: #454b56;
}

.template.moduleGoggle .projectContent .title.main {
  font-size: 1.7em;
}

@media (min-width: 768px) {
  .template.moduleGoggle .projectContent .title.main {
    font-size: 1.5em;
  }
}

.template.moduleGoggle .projectContent .title span {
  display: inline;
}

.template.moduleGoggle .projectContent .smail {
  font-size: .9em;
}

.template.moduleGoggle .concept {
  color: #7e8c99;
}

.template.moduleGoggle .concept > .bg {
  background-color: #363a45;
}

.template.moduleGoggle .concept .heading2 {
  color: #c1cbe5;
}

.template.moduleGoggle .concept .title {
  color: #7e8c99;
}

.template.moduleGoggle .border-md-right {
  border-right: none;
}

@media (min-width: 768px) {
  .template.moduleGoggle .border-md-right {
    border-right: 1px solid #dee2e6;
  }
}

.template.moduleGoggle .conclusion.bg {
  background-color: #38404C;
  color: #7e8c99;
}

.template.moduleGoggle .conclusion .heading2 {
  color: #c1cbe5;
}

.template.moduleGoggle .conclusion .staticBox {
  width: auto;
  word-break: keep-all;
}

@media (min-width: 768px) {
  .template.moduleGoggle .conclusion .staticBox {
    max-width: 450px;
  }
}

.template.moduleGoggle .conclusion .round {
  background: #ed6b22;
  color: #38404C;
  border-radius: 999px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 17px;
  height: 17px;
  text-transform: uppercase;
}

.template.moduleGoggle .conclusion img {
  width: 80%;
  margin: 75px 0;
}

.template.moduleGoggle .conclusion .modularDetilItem {
  border-bottom: 1px solid rgba(192, 202, 228, 0.3);
  padding: 100px 0;
}

.template.moduleGoggle .conclusion .modularDetilItem:last-child {
  border-bottom: none;
}

.template.moduleGoggle .conclusion .modularDetilItem img {
  margin: 0;
  width: 100%;
}

.template.moduleGoggle .conclusion .description {
  font-size: 15px;
  letter-spacing: .05em;
  word-break: keep-all;
}

.template.moduleGoggle .conclusion .description .number {
  font-size: .9em;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.template.moduleGoggle .conclusion .description .title {
  font-size: 1.8em;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .template.moduleGoggle .conclusion .bltear {
    letter-spacing: .8em;
  }
}

.template.moduleGoggle .conclusion .footer {
  margin-top: 200px;
  margin-bottom: 100px;
  color: #454B56;
}

.template.moduleGoggle .conclusion .footer .title {
  font-size: 48px;
}

.template.moduleGoggle .conclusion .footer .thankyou {
  margin-top: 200px;
  color: #8C9198;
}
/*# sourceMappingURL=style.css.map */